<!doctype html>
<html lang="ja">
<head>
  <title>アトリエオンライン レシピブック</title>
  <meta charset="utf-8" />
  <meta name="keywords" Content="アトリエオンライン,上月弦夜,メカ魔法少女Q" />
  <meta name="description" Content="アトリエオンラインのレシピ検索用サイト" />
  <meta name="author" content="Genya Kamitsuki" />
  <meta name="copyright" content="Genya Kamitsuki" />
  <meta name="robots" content="index,nofollow" />
  <link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../css/atelier.css">
</head>
<body>

<div class="ui container">
<h1></h1>
<div class="ui two column stackable grid">
  <h2 class="ui header ten wide column">
    <i class="book icon teal"></i>
    <div class="content">アトリエオンライン レシピブック<div class="sub header">update 2018/10/12　課金装備以外の入力が完了しました！</div></div>
  </h2>
  <div class="right aligned six wide column">
   <div class="ui search right">
    <div class="ui icon input">
     <input id="search" class="prompt" type="text" placeholder="Search" v-model="word"/>
     <i class="search icon"></i>
   </div>
   <a class="ui circular twitter icon button" target="_twitter" href="https://twitter.com/share?url=https%3A%2F%2Fkamitsuki-works.github.io%2Fgames%2Fatelier&related=&hashtags=アトリエオンライン%2C&text=アトリエオンライン レシピブック">
    <i class="twitter icon"></i>
   </a>
  </div>
</div>
</div>

<div class="ui container">
 <table class="ui unstackable table" id="recipe">
  <thead>
   <tr>
    <th class="left aligned">調合品</th>
    <th>素材1</th>
    <th>素材2</th>
    <th>素材3</th>
    <th>素材4</th>
   </tr>
  </thead>
  <tbody>
   <tr v-for="r in filterRecipe" :class="{disabled : r.disabled}">
    <td>
      <i class="leaf icon" v-if="r.category=='item'"></i>
      <i class="gavel icon" v-if="r.category=='weapon'"></i>
      <i class="shield icon" v-if="r.category=='armor'"></i>
      <i class="utensils icon" v-if="r.category=='food'"></i>
      {{ r.item }}</td>
    <td>{{ r.base1 }}</td>
    <td>{{ r.base2 }}</td>
    <td>{{ r.base3 }}</td>
    <td>{{ r.base4 }}</td>
   </tr>
  </tbody>
 </table>
</div>

<h2></h2>
<div class="ui center aligned container">
Copyright© <a href="https://twitter.com/kamitsuki_genya" target="twitter">Genya Kamitsuki</a> All Rights Reserved. 
</div>
<h1></h1>

<script src="../js/jquery.min.js"></script>
<script src="../js/semantic.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/atelier.js"></script>
</body>